<h1><%= @list.title %></h1>

<h2><%= @list.organization %></h2>
<p><%= @list.organization_description %></p>
<%= link_to @list.organization, @list.organization_url %>

<h2><%= @list.description %></h2>

<h3><%= @list.price %></h3>
