<div class="container">
    <h1><%= @list.title %></h1>

    <%= link_to "Subscribe", subscription_path(@list.id), class: "waves-effect waves-light btn right" %>

    <h2>You'll love this list if...</h2>
    <p><%= @list.description %></p>

    <h2>Benefits <%= @list.organization %></h2>
    <p><%= @list.organization_description %></p>
    <p>You can find more information here: <%= link_to @list.organization, @list.organization_url %></p>

    <h2>Price per Quarter: $<%= @list.price %></h2>

    <h2>Books</h2>

    <div class="row library">
    <% @list.books.each do |book| %>
        <%= book.image_url %>
    <% end %>
    </div>

    <% if can? :manage, User %>
        <%= link_to "Edit List", edit_list_path(@list.id), class: "btn right" %>
        <%= link_to "Delete List", list_path(@list.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn right" %>
    <% end %>
</div>
