<div class="container">
    <h1><%= @list.title %></h1>

    <%= link_to "Subscribe", subscription_path(@list.id), class: "waves-effect waves-light btn right" %>

    <h2><%= @list.organization %></h2>
    <p><%= @list.organization_description %></p>
    <%= link_to @list.organization, @list.organization_url %>

    <h2><%= @list.description %></h2>

    <h2>Books</h2>

    <div class="row library">
    <% @list.books.each do |book| %>
        <%= book.image_url %>
    <% end %>
    </div>

    <h3><%= @list.price %></h3>

    <% if can? :manage, User %>
        <p><%= link_to "Delete List", list_path(@list.id), method: :delete, data: { confirm: "Are you sure?" } %></p>
    <% end %>
</div>
