<nav>
    <div class="nav-wrapper">
      <a href="<%= root_path %>" class="brand-logo center"><img src="http://i.imgur.com/NLDxFnM.png" alt="Dewey List Logo"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if user_signed_in? %>
            <li><a href="<%= lists_path %>">Lists</a></li>
            <li><a href="<%= subscriptions_path %>">Profile</a></li>
            <li><a href="<%= edit_user_registration_path %>">Edit Profile</a></li>
        <% else %>
            <li><a href="<%= new_user_registration_path %>">Sign Up</a></li>
            <li><a href="<%= new_user_session_path %>">Login</a></li>
            <!-- <li><a href="<%= lists_path %>">Lists</a></li> -->
        <% end %>
      </ul>
    </div>
  </nav>
